$navy: #182642;
$azure: #287ab9;
$light_marigold: #FED473;
$marigold: #FDB816;
$dark_marigold: #F79C25;
$light_lime: #9dd865;
$lime: #85CE3F;
$dark_lime: #6fac40;
$teal: #63C0B9;
$light_sky_blue: #39b3e1;
$sky_blue: #09A0DB;
$dark_sky_blue: #0f6e9e;
$lighter_gray: #f4f4f4;
$very_light_gray: #eeeeee;
$light_gray: #dddddd;
$gray: #CCCCCC;
$dark_gray: #999999;

.primary-button {
    background-color: $lime;
    box-sizing: border-box;
    border-radius: 4px;

    :hover {
      background-color: $light_lime;
      cursor: pointer;
    }

    input {
      background-color: transparent;
      color: white !important;
    }

    &.disabled {
      background: #ecf7e2;
      pointer-events: none;
      cursor: default;
    }
}