// Place all the styles related to the SimpleSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base_style';

.simple-search {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 8px;
  height: 80px;
  padding: 2.2em 2.5em;
}

.search-element {
  display: inline-block;
  margin:10px;
  line-height: 2;
  width: 30%;
  margin-top: -5px;

  label {
    color: white;
    float: left;
  }

  input {
    border: none;
    border-radius: 4px;
    color: $sky_blue;
    font-size: 1.5em;
    height: 30px;
    margin-top: .25em;
    padding: .75em;
    outline: none;
    width: 96%;
  }

  &.primary-button {
    height: 60px;

    input {
      height: 52px;
    }
  }
}

.results{
  margin: 13px;
  padding: 2.2em 10.5em;

  .search-result{
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 30px;

    .job-title {
      font-size: 3ex;
      margin-bottom: 10px;
    }

    .company-name, .location, .date{
      display: inline-block;
      margin-right: 10px;
    }

    .company-name {
      font-family: monospace;
      font-size: large;
    }
  }

  a {
    color: $sky_blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      background-color: transparent;
    }
  }
}

.bottom-paginator {
  float: right;
  margin-right: 30px;
}
